@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.img-logo{
  width: 150px;
  height: 110px;
  align-items: ;
}
.bg-light {
  background-image: url("starry-sky.jpg") !important;
}