<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTI WARS</title>
    {% block head-css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

</head>

<body>

    <div class="topnav" id="myTopnav">
        <img class="img-logo" src="{% static "main/logo.jpeg" %}" />
        <div>
            <a href="{% url 'home' %}">UTI WARS</a>
            <a href="{% url 'novidades' %}">Novidades</a>
            <a href="{% url 'cursos' %}">Cursos</a>
            <a href="{% url 'terapiaintensiva' %}">Terapia Intensiva</a>
            <a href="{% url 'conselhojedi' %}">Conselho Jedi</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer">

        <div>
           <p>Contatos:</p>
           <p>Telefone: 2222-2222 / 3333-3333</p>
           <p>e-mail: utiwars.gmail.com</p>
        </div>
        <div>
            <li><a>Facebook</a></li>
            <li><a>Instagram</a></li>
            <li><a>Youtube</a></li>
        </div>

        <small>Copyright © 2010 </small>
    </footer>

</body>

</html>