<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/conselhojedi.css' %}">
    <title>UTI WARS - Conselho Jedi</title>
</head>
<body>
    <div class="conselho">
    

        <h1>CONSELHO JEDI</h1>

        <p class="txt-conselho1">Conheça as pessoas que fazem tudo acontecer. Vemos o grande potencial em cada momento e nos importamos profundamente com o que fazemos todos os dias. </p>


        <div class="Descrição">
            <div class="container-fluid ">
                <div class="container">
                    <div class="row justify-content-center d-flex inscricoes-view">
                        <div class="col-md-4 view-image">
                            <img class="image" src="{% static "main/carlao.jpg" %}" alt="Foto de Carlão" />
                        </div>

                        <div class="col-md-6 view-texto align-left text-shadow-left">
                            <h5 class="titulo"> Carlos Eduardo (Carlão) </h5>
                            <p class="texto">
                                Médico intensivista adulto com título de especialista pela AMIB/AMB.<br />
                                Médico diarista do Hospital Esperança Recife e intensivista adulto dos hospitais Agamenon Magalhães e Hospital Santa Joana.
          </p>
                        </div>
                    </div>
                    <div class="row justify-content-center d-flex inscricoes-view reverse">
                        <div class="col-md-4 view-image">
                            <img class="image" src="{% static "main/manoel.jpeg" %}" alt="Foto de Manoel" />
                        </div>

                        <div class="col-md-6 view-texto align-right text-shadow-right">
                            <h5 class="titulo">Manoel Alves</h5>
                            <p class="texto">
                                Médico intensivista adulto - Residência médica no Hospital Esperança Recife<br />
                                Intensivista adulto do Hospital Santa Joana Recife, Real Hospital Portugês e HUOC
          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div >
</body>
</html>