{% extends 'main/base.html' %}
{% load static %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'main/cursos.css' %}">
{% endblock %}


{% block content %}

<div class="curso">


    <h1>CURSOS</h1>


    <div class="Descrição">
        <div class="container-fluid ">
            <div class="container">
                <div class="row justify-content-center d-flex inscricoes-view">
                    <div class="col-md-4 view-image">
                        <img class="image" src="{% static "main/curso.png" %}" alt="Foto de Carlão" />
                    </div>

                    <div class="col-md-6 view-texto align-left text-shadow-left">
                        <h5 class="titulo">Prática do USG pulmonar e avaliação de diafragma </h5>
                        <p class="texto">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti quas totam commodi a
                            similique, earum odio aliquid provident consequuntur doloribus. Dolorum quam dicta eos
                            possimus hic illo a laborum doloribus?
                        </p>
                        <a href="https://www.pulmocardio.com.br/cursos/">
                        <button type="button" class="btn btn-secondary btn-sm">Saiba mais</button></a>
                    </div>
                </div>
                <div class="row justify-content-center d-flex inscricoes-view">
                    <div class="col-md-4 view-image">
                        <img class="image" src="{% static "main/curso.png" %}" alt="Foto de Carlão" />
                    </div>

                    <div class="col-md-6 view-texto align-left text-shadow-left">
                        <h5 class="titulo">Prática do USG pulmonar e avaliação de diafragma </h5>
                        <p class="texto">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti quas totam commodi a
                            similique, earum odio aliquid provident consequuntur doloribus. Dolorum quam dicta eos
                            possimus hic illo a laborum doloribus?
                        </p>
                        <a href="https://www.pulmocardio.com.br/cursos/">
                        <button type="button" class="btn btn-secondary btn-sm">Saiba mais</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}