
  {% extends 'main/base.html' %}
  {% load static %}
  {% block head-css %}
  <link rel="stylesheet" href="{% static 'main/novidade.css' %}">
  {% endblock %}

  {% block content %}
  <div class="container-news">
    <h1>NOVIDADES</h1>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in postagem_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.titulo }}</h2>
                    <p class="card-text text-muted h6">{{ post.autor }} | {{ post.data}} </p>
                    <p class="card-text">{{post.descricao|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-secondary">Leia mais &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
      
    </div>
</div>










    {% endblock %}
