
  {% extends 'main/base.html' %}
  {% load static %}
  {% block head-css %}
  <link rel="stylesheet" href="{% static 'main/novidade.css' %}">
  {% endblock %}

  {% block content %}
  <h1>Novidades</h1>
  {% for elemento in postagem_list %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static "main/foto-storm.jpg" %}"  class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ elemento.titulo }}</h5>
          <p class="card-text">{{ elemento.descricao|truncatechars:50 }}</p>
          <p class="card-text"><small class="text-muted">Criado em {{ elemento.data }} por {{ elemento.autor }}</small></p>
        </div>
      </div>
      
    </div>
    
  </div>
  {% endfor %}
    {% endblock %}
