{% extends 'main/base.html' %}
{% load static %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'main/terapiaintensiva.css' %}">
{% endblock %}

{% block content %}
<div class="uti">
    <h1>Terapia Intensiva</h1>

    <div class="row">

        <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, et? Adipisci provident
            facere corrupti non blanditiis? Culpa ea, dolorem et non eum voluptates sapiente facere consequatur
            soluta, fugiat asperiores corporis.</p>

        <img class="img-terapia" src="{% static "main/soro.jpg" %}" alt="Imagem de soro">

    </div>
</div>
{% endblock %}