{% extends 'main/base.html' %}
{% load static %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'main/terapia.css' %}">
{% endblock %}

{% block content %}
<div class="uti">
    <h1>TERAPIA INTENSIVA</h1>

    <div class="box">
        <div class="col box__texto">
            <p class="texto">Uma unidade de tratamento intensivo (UTI) ou unidade de cuidados intensivos (UCI) é uma
                estrutura hospitalar que se caracteriza como "unidade complexa dotada de sistema de monitorização
                contínua que admite pacientes potencialmente graves ou com descompensação de um ou mais sistemas
                orgânicos e que com o suporte e tratamento intensivos tenham possibilidade de se recuperar". O
                profissional que se dedica a esta modalidade de atendimento chama-se intensivista. Na UTI, ficam os
                doentes mais graves.</p>
            <p class="fonte">«Resolução 81 - 5 de janeiro de 1995 - CREMESP». <br>www.medicinaintensiva.com.br</p>
        </div>

        <img class="terapia-img" src="{% static "main/servicos-UTI.jpg" %}" alt="Imagem de soro">

    </div>
</div>
{% endblock %}