<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/terapiaintensiva.css' %}">
    <title>Terapia Intensiva</title>
</head>

<body>

    <div class="container-title">
        <div class="title">
            <h1>Terapia Intensiva</h1>
        </div>
    </div>
    <div class="row">
        
            <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, et? Adipisci provident
                facere corrupti non blanditiis? Culpa ea, dolorem et non eum voluptates sapiente facere consequatur
                soluta, fugiat asperiores corporis.</p>

            <img class="img-terapia" src="{% static "main/soro.jpg" %}" alt="Imagem de soro">

        </div>

    
</body>

</html>